<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontBold.ttf</string>
		<string>FontLight.ttf</string>
		<string>FontMedium.ttf</string>
		<string>FontRegular.ttf</string>
		<string>FontSemibold.ttf</string>
	</array>
</dict>
</plist>
