name: Build and Distribute APK

on:
  workflow_dispatch:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.1.0'

      - name: Run lint
        run: ./gradlew :android:app:lintRelease

      - name: Run ktlintCheck
        run: ./gradlew ktlintCommonMainSourceSetCheck ktlintAndroidMainSourceSetCheck

      - name: Upload html test report
        uses: actions/upload-artifact@v4
        with:
          name: lint.html
          path: ./android/app/build/reports/lint-results-release.html

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.10
          bundler-cache: true

      - name: Decode Service Account Key JSON File
        uses: timheuer/base64-to-file@v1
        id: service_account_json_file
        with:
          fileName: "firebase_distribution.json"
          fileDir: "./"
          encodedString: ${{ secrets.FIREBASE_DISTRIBUTION_ACCESS_KEY }}

      - name: Distribute a new build to Firebase
        run: bundle exec fastlane distribute
        env:
          APP_ID: ${{ secrets.APP_ID }}
